* {padding: 0; margin: 0;}
body{
    font-family: 'Courier New', Courier, monospace;
    color: #333;
    font-size: 11px;
    width: 100%;
    height: 100%;
}
/*pembatas utama*/
#container{
    margin: 6px auto;
    text-align: left;
    clear: both;
    width: 100%;
    padding: 0;
}
#header{
    clear: both;
    background-image: url("wallhaven-yjvppx.jpg");
    background-repeat: no-repeat;
    background-size:cover;
    height: 19%;
}
#header h1{
    font-size: 50px;
    font-family: arial;
    color: white;
    margin: 14px 6px 4px 8px;
    text-align: center;
    
}

#footer{
    position: relative;
    clear: both;
    height: 40px;
    border: none;
    background: #cfcfcf;
    color: #fff;
    width: 100%;
    text-align: center;
}
#footer span{
    bottom: 10px;
    position: absolute;
}

#gambar h1{ 
        float: left;
        background-image: url("wallhaven-v9w635.jpg");
        background-repeat: no-repeat;
        background-size:cover;
        height: 50%;
        width: 50%;
}
#content{
    position: relative;
    float: left;
    width: 30%;
    text-align: center;
    padding: 100px 10% 10% 10%;
    font-size: medium;
}


#content h1{
    margin-bottom: 5px;
    text-align: center;
}

#portofolio{
    position: relative;
    float: left;
    text-align: center;
    padding: 0 0 0 45%;
    margin: 0 0 0 0;
    font-size: medium
}

#tib{
    clear: both;
    background-image: url("wallhaven-dg6l9j.png");
    background-repeat: no-repeat;
    background-size:cover;
    height: 100%;
}
#tib h1{
    font-size: 50px;
    font-family: arial;
    color: white;
    margin: 14px 6px 4px 8px;
    text-align: center;
    padding: 10% 0 5% 0;
}
#tib h2{
    height: 10%;
    width: 10%;
    text-align: center;
    margin: 0 0 0 25%;
}
#tib svg{
    object-position: center;
    margin: 0% 0 0 20%;
    height: 60%;
    width: 60%;
}
#box {
    width: 10%;
    height: 20%;
    background-color: white;
    margin-top: 10%;
    margin-left: 10%;
    margin: 0 0 0 60%;
}